{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.title }}</title>
    <link rel="stylesheet" href="{% static 'styles_item.css' %}">
</head>
<body>
    <div class="product-page-container">
        <div class="product-image-section">
            <img src="{{ product.image.url }}" alt="{{ product.title }}">
        </div>
        <div class="product-details-section">
            <h1>{{ product.title }}</h1>
            <p class="product-price">${{ product.cost }}</p>
            <p><strong>Genre:</strong> {{ product.janer }}</p>
            <p><strong>Published:</strong> {{ product.date }}</p>
            <p class="product-description">{{ product.description }}</p>
            <button class="add-to-cart">Add to Cart</button>
            <a href="{% url 'main' %}" class="back-to-list">Back to Items List</a>
        </div>
    </div>
</body>